main {
    padding-top: 80px;
}

.btn-upvote {
    background-color: #f8f9fa;
    color: #007bff;
}

.btn-upvote:hover {
    background-color: #007bff;
    color: #fff;
}

.vote-count {
    font-size: 0.8rem;
}